<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>列表渲染</title>
	</head>
	<body>
		<ul id="example-1">
			<li v-for="item in items">
				{{item.message}}
			</li>
		</ul>
		<ul id="example-2">
			<li v-for="(item,index) of items">
				{{parentMessag}}-{{index}}-{{item.message}}
			</li>
		</ul>
		<ul id="v-for-object" class="demo">
			<li v-for="value in object">
				{{value}}
			</li>
			<div v-for="(value,key) in object">
				{{key}}:{{value}}
			</div>
			<div v-for="(value,key,index) in object">
				{{index}}.{{key}}.{{value}}
			</div>
			<li v-for="n in evenNumbers">{{n}}</li>
			<li v-for="n in even(numbers)">{{n}}</li>
			<div>
				<span v-for="n in 10">{{n}}</span>
			</div>
			<template v-for="item in items">
			<li>{{item.msg}}</li>
			</template>
			<li v-for="todo in todos" v-if="!todo.isComplete">
				{{todo.msg}}
			</li>
			<ul v-if="totos.length">
				<li v-for="toto in totos">
					{{toto}}
				</li>
			</ul>
			<p v-else>No totos left!</p>
		</ul>
		<div id="todo-list-example">
			<input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
			<ul>
				<li is="todo-item" v-for="(todo,index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index,1)"></li>
			</ul>
		</div>
		<script type="text/javascript" src="https://unpkg.com/vue"></script>
		<script>
		var example1=new Vue({
		el:'#example-1',
		data:{
			items:[
			{message:'Foo'},
			{message:'Bar'}
			]
		}
		})
		var example2=new Vue({
		el:'#example-2',
		data:{
			parentMessag:'Parent',
			items:[
			{message:'Foo'},
			{message:'Bar'}
			]
		}
		})
		new Vue({
		el:'#v-for-object',
		data:{
			object:{
				firstName:'John',
				lastName:'Doe',
				age:30
			},
			numbers:[1,2,3,4,5],
			items:[
			{msg:"花生"},{msg:"核桃"}
			],
			todos:[
			{isComplete:true,msg:"兰花"},{isComplete:false,msg:"玫瑰"},{isComplete:true,msg:"杜鹃"}
			],
			totos:[]
		},
		computed:{
			evenNumbers:function(){
				return this.numbers.filter(function(number){
					return number%2===0
				})
			}
		},
		methods:{
			even:function(numbers){
				return numbers.filter(function(number){
					return number%2===0
				})
			}
		}
		})
		Vue.component('todo-item',{
			template:'\
		<li>\
			{{ title }}\
			<button v-on:click="$emit(\'remove\')">X</button>\
		</li>\
		',
			props:['title']
		})
		new Vue({
			el:"#todo-list-example",
			data:{
				newTodoText:'',
				todos:[
				{id:1,title:'Do the dishes'},
				{id:2,title:'Take out the trash'},
				{id:3,title:'Mow the lawn'}
				],
				nextTodoId:4
			},
			methods:{
				addNewTodo:function(){
					this.todos.push({
						id:this.nextTodoId++,
						title:this.newTodoText
					})
					this.newTodoText=''
				}
			}
		})
		</script>
	</body>
</html>